<div class="container">
  <h3>Cd-Manager</h3>
  <div class="form-group">   
    <label class="form-text">Titel</label>
    <input type="text" [(ngModel)]="cdToAdd.title" class="form-control">
    <label class="form-text">Künstler</label>
    <input type="text" [(ngModel)]="cdToAdd.artist" class="form-control">
    <label class="form-text">Land</label>
    <input type="text" [(ngModel)]="cdToAdd.country" class="form-control">
    <label class="form-text">Jahr</label>
    <input type="number" [(ngModel)]="cdToAdd.year" min="0" max="2021" step="1" class="form-control" required>
    <label class="form-text">Preis</label>
    <input type="number" [(ngModel)]="cdToAdd.price" min="0" step="0.01" class="form-control" required>
    <label class="form-text">Firma</label>
    <input type="text" [(ngModel)]="cdToAdd.company" class="form-control" required minlength="1">
    <button (click)="addCd()" class="btn btn-primary form-control mt-4" >Hinzufügen</button>  
  </div>
  <div class="form-group">
    <label for="" class="form-text">Filtern nach Titel:</label>
    <input type="text" [(ngModel)]="filterText" class="form-control col-12 col-sm-6 col-md-3">
    <hr>
    <div>
      <label for="" class="form-text">Filtern nach Firma:</label>
      <button class="btn btn-info m-1" (click)="filterByCompany('')" [ngClass]="{activeFilter: filterCompany == ''}">ALLE</button>
      <button *ngFor="let company of companies" class="btn btn-info m-1" (click)="filterByCompany(company)" [ngClass]="{activeFilter: company == filterCompany}">{{company}}</button>
    </div>
    <hr> 
  </div>
  <div *ngFor="let cd of cds; let i = index">
    <label *ngIf="isCdVisible(cd)" (mouseover)="markupCds(cd.company)" [ngClass]="{activeCompany: selectedCompany == cd.company}">
      {{i}} | {{cd.title}} | {{cd.artist}} | {{cd.company}} | {{cd.year}} | {{cd.price}} 
    </label>
    <button class="btn btn-info m-1" (click)="deleteCd(i)">Löschen</button>
  </div>
</div>
 